
.view {
    display: flex;
    overflow: hidden; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;               
    margin: 0;
    
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-submission {
    display: grid;
    place-items: center; 
}

#summary {
    width: 700px;
    height: 400px;
    resize: none;
    margin: 5px auto;
    font-size: 20px;
    background-color: rgb(183, 241, 255);
}