#journalHeader {
    background-color: #add8e6;  
}

.text-submission {
    display: grid;
    place-items: center; 
}

#journalSummary {
    width: 100%;
    height: 20vw;
    resize: none;
    margin: 5px auto;
    font-size: 1.5rem;
    line-height: 1.3;
    padding: 20px;
    background-color: rgb(183, 241, 255);
    overflow-y: auto;
    overflow-x: hidden;
}

.journal-buttons {
    display: flex;
    justify-content: space-between;
}

.journal-buttons button {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 100px;
    margin-right: 100px;
}

#wordCount {
    padding: auto;
}

#cancelJournal {
    font-family: 'Bubblegum Sans', cursive;
    background-color: #ff4d4d;
    color: rgb(0, 0, 0);
}

#saveJournal {
    font-family: 'Bubblegum Sans', cursive;
    background-color: #33cc33;
    color: rgb(0, 0, 0);
}

#cancelJournal:hover, #saveJournal:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

#cancelJournal:hover, #saveJournal:hover{
    background-color: #2320c2ab;
}
