#journalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#journalHeader h1 {
    background-color: #add8e6; 
    color: black; 
    padding: 10px 20px;
    border-radius: 10px; 
    font-size: 2em;
    text-align: center;
}

.text-submission {
    display: grid;
    place-items: center; 
}

#journalSummary {
    width: 100%;
    height: 20vw;
    resize: none;
    margin: 5px auto;
    font-size: 1.5rem;
    padding: 20px;
    background-color: rgb(183, 241, 255);
    overflow-y: auto;
    overflow-x: hidden;
}