.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: bisque;
    border-radius: 10px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: rgb(150, 151, 151);
    border-radius: 30px;
}

.tab:hover {
    background-color: rgb(121, 200, 3);
}

.active-tab {
    background-color: green;
}

.text_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(196, 255, 225);
    border-radius: 10px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px;
    padding: 10px;
}

.center-container h2{
    font-size: 1.8em;
    margin-bottom: 10px;
}

.text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(196, 255, 225);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

.stats h3 {
    font-size:1.2em;
    margin-bottom: 10px;
}

