.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: rgb(208,208,208);
}
.container h1{
    font-size: 2.5em;
    margin-bottom: 20px;
}
.tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;

}
.tab-Day{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: bisque;
     border-radius: 10px;
}
.tab-Week{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: bisque;
    border-radius: 10px;
}
.tab-Month{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: bisque;
    border-radius: 10px;
}
.tab-Year{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: bisque;
    border-radius: 10px;
}
.tabs{
    background-color: rgb(150, 151, 151);
    border-radius: 30px;
    margin-bottom: auto;

}

.text_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(196, 255, 225);
    border-radius: 10px;
}