.day-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;               
    height: 90vh;
    width: 70vh;
    margin: 0; 
}

.day-body-element {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.day-scroll-container {
    width: 100%;          
    height: 10;        
    overflow-y: auto;      
    border: 1px solid #4586ff;           
}

.day-log-container {
    width: 100%;
}

.day-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.day-emotion-entry {
    height: 100%;
}

#dayEmotionLog {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px solid #4586ff;
    width: 500px;
    height: 100%;
}

#dayJournalEntry {
    width: 500px;
    height: 80%;
    resize: none;
    margin: 5px 0;
    font-size: 15px;
    background-color: rgb(183, 241, 255);
}



