.day-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;               
    height: 90vh;
    width: 70vh;
    margin: 0; 
}

.day-head-element {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 10%;
}

#dayHeader h1 {
    background-color: #fbff00; 
    color: black; 
    padding: 5px 5px;
    border-radius: 10px; 
    font-size: 2em;
    text-align: center;
}


.day-body-element {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.day-emotion-container {
    display: grid;
    justify-items: center;
    width: 100%;
    height: 70%;
    overflow-y: scroll; 
    overflow-x: hidden;
    border: 1px solid #dd1010; 
    padding: 10px; 
}

.day-journal-container {
    display: grid;
    width: 500px;
    height: 30%;
}

/* .day-scroll-container {
    width: 100%;          
    height: 10;        
    overflow-y: auto;      
    border: 1px solid #4586ff;           
} */

/* .day-log-container {
    width: 100%;
} */

/* #dayEmotionLog {
    height: 600px;
    overflow-y: auto; 
    overflow-x: hidden;
    border: 1px solid #dd1010; 
    padding: 10px; 
}

.day-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.day-emotion-entry {
    height: 100%;
}

#dayEmotionLog {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px solid #4586ff;
    width: 500px;
    height: 100%;
}

#dayJournalEntry {
    width: 500px;
    height: 80%;
    resize: none;
    margin: 5px 0;
    font-size: 15px;
    background-color: rgb(183, 241, 255);
}

 */

