.day-container {
    display: flex;
    flex-direction: column;
    align-items: center;               
    height: 80vh;
    width: 70vh;
    margin: 0; 
}

.day-head-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 10%;
}

.day-body-element {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 20px;
}

.day-emotion-container {
    justify-items: center;
    overflow-y: scroll; 
    overflow-x: hidden;
    border: 1px solid #dd1010; 
    margin: 20px;
}

.day-journal-container {
    display: flex;

}

/* .day-scroll-container {
    width: 100%;          
    height: 10;        
    overflow-y: auto;      
    border: 1px solid #4586ff;           
} */

/* .day-log-container {
    width: 100%;
} */

/* #dayEmotionLog {
    height: 600px;
    overflow-y: auto; 
    overflow-x: hidden;
    border: 1px solid #dd1010; 
    padding: 10px; 
}

.day-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.day-emotion-entry {
    height: 100%;
}

#dayEmotionLog {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px solid #4586ff;
    width: 500px;
    height: 100%;
}

#dayJournalEntry {
    width: 500px;
    height: 80%;
    resize: none;
    margin: 5px 0;
    font-size: 15px;
    background-color: rgb(183, 241, 255);
}

 */

