.feature-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Creates 5 equal columns */
  gap: 10px; /* Space between buttons */
  margin-top: 20px;
  padding: 30px;
}

.feature-button {
  padding: 10px 15px;
  width: 100%; /* Make buttons take up full width of column */
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  font-family: "Brush Script MT", cursive;
  font-size: 1.5em;
  transition: background-color 0.3s ease, transform 0.2s ease;
  height: 50px; /* Set a fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-button:hover {
  transform: scale(1.05);
  background-color: #d45b5b; /* Darken color on hover */
  color: #f8f9fa; /* Lighten text color */
}

.calendar-page {
  background-color: blueviolet;
}

.check-in {
  background-color: green;
}
.journal {
  background-color: blue;
}
.stats {
  background-color: orange;
}
.summary {
  background-color: gray;
}
