* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.date-header {
  background-color: #c7cfc7;
  color: black;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: left;
  width: 100%;
  margin-bottom: 2rem;
  font-weight: bold;
}

.page-name-header {
  background-color: #c7cfc7; /*Base color, change as needed in page's respective CSS file*/
  color: black;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #2320c2ab;
}

.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.app #content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; /* Ensure the content div takes up the full height of its parent */
  flex-grow: 1; /* Allow the content div to grow and fill the available space */
}

.app {
  position: relative;
  width: 80%;
  padding: 2rem;
  min-width: 300px; /* Set a minimum width for the app */
  max-width: 1000px; /* Set a maximum width for the app */
  min-height: 80vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Navigation Button Styles */
.nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 8px;
  background-color: #f0f0f0; /* Temporary background color for visibility */
  padding: 1rem; /* Temporary padding for visibility */
  width: 90%; /* Adjust width as needed */
}

.nav-btns {
  display: flex;
  gap: 1rem; /* Add some gap between the buttons */
  flex: 1; /* Allow buttons to grow and fill the available space */
  border: none;
  max-width: 19%;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  font-family: "Brush Script MT", cursive;
  font-size: 1.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.nav-btns:hover {
  transform: scale(1.05);
  background-color: #d45b5b; /* Darken color on hover */
  color: #f8f9fa; /* Lighten text color */
}

.nav-btns:active {
  transform: scale(1.5);
  background-color: #2320c2ab; /* Darken color on click */
}

#toCalendarPage {
  background-color: blueviolet;
}

#toCheckInPage {
  background-color: green;
}

#toJournalPage {
  background-color: blue;
}

#toDayPage {
  background-color: orange;
}

#toSummaryPage {
  background-color: gray;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .app {
    width: 90%;
    padding: 1rem;
  }

  .nav {
    width: 100%;
    padding: 0.5rem;
  }

  .nav-btns {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
